<a href="https://colab.research.google.com/github/mayuranya05/PythonClass/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def message():
    print('I an Anirach,')
    print('I Love Python')
message()

I an Anirach,
I Love Python

In [ ]:
def main():
    print('I have a message for you.')
    message()
    print('Goodbye!')

def message():
    print('I an Anirach,')
    print('I Love Python')

main()

I have a message for you.
I an Anirach,
I Love Python
Goodbye!

In [ ]:
def main():
  texas()
  callifornia()

def texas():
  birds = 5000
  print('texas has', birds, 'birds.')

def callifornia():
  birds = 8000
  print('california has', birds, 'birds.')

main()

texas has 5000 birds.
california has 8000 birds.

In [ ]:
def main():
  value = 5
  show_double(value)

def show_double(number):
  result = number * 2
  print(result)

main()

10

In [ ]:
def main():
  print('The sum of 12 and 45 is')
  show_sum(12, 45)

def show_sum(num1, num2):
  result = num1 + num2
  print(result)

main()

The sum of 12 and 45 is
57

In [ ]:
def main():
  value = 99
  print('The value is', value)
  change_me(value)
  print('Back in main the value is', value)

def change_me(arg):
  print('I an changing the value.')
  arg = 0
  print('Now the value is', arg)

main()

The value is 99
I an changing the value.
Now the value is 0
Back in main the value is 99

In [ ]:
def reverse_name(first, last):
  print(last, frist)

def main():
  first_name = input('Enter your first name : ')
  last_name = input('Enter your last name : ')
  print('Your name reversed is : ')
  reverse_name = (first_name, last_name)
  print(reverse_name)

main()

Enter your first name : mayuranya
Enter your last name : tabsawat
Your name reversed is :
('mayuranya', 'tabsawat')

In [ ]:
number = 0

def main():
  global number
  number = int(input('Enter a number : '))
  show_number()

def show_number():
  print('The number you entered is', number)

main()

Enter a number : 5
The number you entered is 5

In [ ]:
import random

HEADS = 1
TALLS = 2
TOSSES =10

def main():
  for toss in range(TOSSES):
    if random.randint(HEADS, TALLS) == HEADS:
      print('Heads')
    else:
      print('Tails')

main()

Tails
Tails
Tails
Heads
Heads
Heads
Tails
Tails
Tails
Heads

In [ ]:
from os import PRIO_PROCESS
DISCOUNT_PERCENTAGE = 0.20

def main():
  reg_price = get_regular_price()
  sale_price = reg_price - discount(reg_price)
  print('The sale price is $', format(sale_price, ',.2f'), sep='')

def get_regular_price():
  price = float(input("Eter the item's regular price : "))
  return price

def discount(price):
  return price * DISCOUNT_PERCENTAGE

main()

Eter the item's regular price : 200
The sale price is $160.00

In [ ]:
def get_name():
  first = input('Enter your first name : ')
  last = input('Enter your last name : ')
  return first, last

first_name, last_name = get_name()
print('First name :',first_name,' Last name :', last_name)

Enter your first name : mayuranya
Enter your last name : tabsawat
First name : mayuranya  Last name : tabsawat

In [ ]:
import math

def area(radius):
  return math.pi * radius ** 2

def circumference(redius):
  return 2 * math.pi * radius

In [ ]:
def area(width, length):
  return width * length

def perimeter(width, length):
  return 2 * (width + length)

In [2]:
In [5]: abs(-4/3)

1.3333333333333333

In [3]:
In [6]: round(-4/3)

-1

In [5]:
In [7]: min(3,2,5)

2

In [6]:
In [8]: min('c','a','b')

'a'

In [10]:
In [21]: a = [3,2,1]
sorted(a)

[1, 2, 3]

In [11]:
In [22]: a = [3,2,1]
sum(a)

6

In [12]:
In [23]: b = [4/3, 2/3, 1/3, 1/3, 1/3]
sum(b)

3.0000000000000004